
:root {
--global-color-bg:  hsl(222, 25%, 10%)  !important; /* #050301     #1D2951  #003153  #0F0404;*/
--global-color-fg: white !important;
--color_theme:  hsl(186 100% 69%);
--section_header_color: #020403; /*#1B1B1B;*/
--Brand_Color:   #00BFFF;
--Brand_Image:  linear-gradient(to bottom, rgba(0,0,0,0), var(--global-color-bg)), url("./Assets/xr.jpg");
}

body , html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  height: 100%;
  width: 100%;
  background-color : var(--global-color-bg) ;
}


*{
  color: var(--global-color-fg);
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.no-select{
        height: 100%;
        width: 100%;
        background-color : var(--global-color-bg);
        display: flex;
        user-select: none;
        flex: 1 0;v
}

.side_nav{
  height: 100%;
  max-width:61px;
  min-width:60px;
  background: #4A521E ;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

}

.main_section{
 height: 100%;
 background: linear-gradient(to bottom, #004002, #18211E);
 flex: 1;
}

.Logo_nav{
   width:100%;
   background: blue;
   height: 60px;
   margin-bottom: 30px;

   background:  url("./Assets/livestock.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100% 100%;
   flex-shrink: 0;
}

.Toggol_nav{
  width:40px;
  height: 40px;
  max-width:41px;

  margin-bottom: 50px;

  margin-left: auto;
  margin-right: auto;

   background:  url("./Assets/enlarge.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100% 100%;
   flex-shrink: 0;

}
.chat_nave{
  width:40px;
  height: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  background: green;
  background:  url("./Assets/chat.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;;
  flex-shrink: 0;
}
.profile_nav{
  width:40px;
  height:40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  background:  url("./Assets/profile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  flex-shrink: 0;
  margin-bottom: 30px;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.chat_section{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
    flex-direction: column;

  background: brown;
}

.chat_history{
   background: blue;
   width: 70%;
   height: 80%;
   margin-left: auto;
   margin-right: auto;
   overflow: scroll;


}
.chat_input{
   border-radius: 20px;
   width: 80%;
   height: 60px;
   background: green;
   margin-left: auto;
   margin-right: auto;
}

/*=========================================    SMALL DEVICES    ======================================================*/


@media (max-width: 968px) {


}