
:root {
--global-color-bg:  hsl(222, 25%, 10%)  !important; /* #050301     #1D2951  #003153  #0F0404;*/
--global-color-fg: white !important;
--color_theme:  hsl(186 100% 69%);
--section_header_color: #020403; /*#1B1B1B;*/
--Brand_Color:   #00BFFF;
--Brand_Image:  linear-gradient(to bottom, rgba(0,0,0,0), var(--global-color-bg)), url("./Assets/xr.jpg");
}

body , html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  height: 100%;
  width: 100%;
  background-color : var(--global-color-bg) ;
}


*{
  color: var(--global-color-fg);
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.no-select{
        height: 100%;
        width: 100%;
        background-color : var(--global-color-bg);
        display: flex;
        user-select: none;
}

.side_nav{
  height: 100%;
  max-width:60px;
  background: red;
  flex: 1;
}

.main_section{
 height: 100%;
 background: linear-gradient(to bottom, #004002, #18211E);
 flex: 1;
}

.Logo_nav{

}
.Toggol_nav{

}
.chat_nave{

}
.profile_nav{
  margin-top: auto;
  
}



/*=========================================    SMALL DEVICES    ======================================================*/


@media (max-width: 968px) {


}